# --- FLUTTER & DART ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.flutter-plugins
*.flutter-plugins-dependencies

# --- ARDUINO / ESP32 ---
     build/
local.properties
.vscode/

# --- GOOGLE COLAB / PYTHON ---
.ipynb_checkpoints/
__pycache__/
*.pyc

# --- FILE RAHASIA / KONFIGURASI ---
.env
config.h
